server:
  http_listen_port: 9080
  # grpc_listen_port: 0

positions:
  filename: /data/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: laravel-app
    static_configs:
      - labels:
          job: laravel
          __path__: /var/log/laravel.log
    pipeline_stages: &laravel_pipeline
      - multiline:
          firstline: '^\[\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\]'
          max_wait_time: 3s
      - regex:
          expression: '(?s)^\[(?P<time>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2})\] (?P<total_log_level>\w+\.(?P<log_level>\w+)): (?P<message>[^\{]*)'
      - timestamp:
          source: time
          format: '2006-01-02 15:04:05'
          location: 'Asia/Dubai'
      - labels:
          level: log_level

  - job_name: api
    static_configs:
      - labels:
          job: api
          __path__: /var/log/api/*.log
    pipeline_stages: *laravel_pipeline

  - job_name: order-lifecycle
    static_configs:
      - labels:
          job: order-lifecycle
          log_type: lifecycle
          __path__: /var/log/order/lifecycle*.log
    pipeline_stages: *laravel_pipeline

  # 監控 Docker 容器的日誌
  - job_name: container
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s

    relabel_configs:
      - replacement: 'containerlogs'
        target_label: 'job'
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'  # Docker 提供的容器名稱通常以 / 開頭，我們只取後面的部分
        target_label: 'container'
      - source_labels: ['__meta_docker_container_label_com_docker_compose_service']
        target_label: 'compose_service'
      - source_labels: ['__meta_docker_container_label_com_docker_compose_project']
        target_label: 'compose_project'